<h1>About MeadowLark Travel</h1>
<p> Your fortune for the day</p>
<div class="row">
<div class="col-sm-2" style="background-color:lavender;">.col-sm-2</div>
<div class="col-sm-8" style="background-color:lavenderblush;">
<blockquote>{{fortune}}</blockquote></div>
<div class="col-sm-2" style="background-color:lavender;">.col-sm-2</div>
<div>
